services:
  - type: web
    name: hostel-complaint-system
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: META_PHONE_NUMBER_ID
        sync: false
      - key: META_ACCESS_TOKEN
        sync: false
      - key: META_VERIFY_TOKEN
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: GMAIL_USER
        sync: false
      - key: GMAIL_APP_PASSWORD
        sync: false
      - key: BASE_URL
        sync: false